<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="forum_posts">
  <% @forum_posts.each do |forum_post| %>
    <%= render forum_post %>
    <p>
      <%= link_to "Show this post", forum_post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_forum_post_path %>
